$primary: #54b7d4;
$secondary: #ffc535;
$tertiary: #fb911a;

$primary-dark-shade: #3b8094;
$secondary-dark-shade: #cc9202;
$tertiary-dark-shade: #c96a00;

$primary-light-shade: #bbe2ee;
$secondary-light-shade: #ffe29a;
$tertiary-light-shade: #fdce99;

$primary-background: #eef8fb;
$secondary-background: #fff1cd;
$tertiary-background: #cce9f2;
$grey: #dddddd;

$color-success: #35bd00;
$color-warning: #feb32a;
$color-info: #1d4ac6;
$color-error: #c71b13;
$color-critical: #932616;

$primary-border-color: #081215;
$secondary-border-color: #c96a00;
$tertiary-border-color: #ffffff;

$primary-space-unit: 10px;
$secondary-space-unit: 15px;
$tertiary-space-unit: 25px;

$primary-font-color: #11252a;
$secondary-font-color: #e6a503;
$tertiary-font-color: #ffffff;

$font-heading: 30px;
$font-second-heading: 25px;
$font-title: 20px;
$font-primary: 18px;
$font-secondary: 16px;
$font-tertiary: 14px;

$font-light: 300;
$font-regular: 400;
$font-semi-bold: 600;
$font-bold: 700;

