<div class="data-title-container">
            <span class="title">Select a payment method </span>
        </div>
        <div class="payment-progrss-card">
            <div class="card-title-container">
                <span class="title">Your saved credit and debit cards</span>
            </div>
            <div class="bank-card-table">
                <div class="header">
                    <span class="title">Name on card</span>
                    <span class="title">Expires on</span>
                </div>
                <div class="content">
                    <span class="data">Currently not available</span>
                </div>
            </div>
            <div class="card-title-container">
                <span class="title">Another payment method</span>
            </div>
            <div class="another-method">
                <div class="content">
                   <input type="radio" checked> 
                   <span class="pay-on">Pay on Delivery</span>
                </div>
            </div>
            <div class="button-container">
                <button class="continue" (click)="onPlaceOrder()">Continue</button>
                <span class="desc">You can review this order before it's final.</span>
            </div>
        </div>