<div class="container">
    
    <div class="title-container">
        <h2 class="title">Your Account</h2>
    </div>

    <div class="option-list">
        <div class="option order-container" (click)="onClickOrders()">
            <img src="assets/icons/order-box.png" alt="img.png">
            <span class="desc">Track, return or buy things again</span>
        </div>
        <div class="option login-security-container">
        <img src="assets/icons/security.png" alt="img.png">
        <span class="desc">Edit login, name and mobile number</span>
        </div>
        <div class="option address-container" (click)="onClickAddress()">
            <img src="assets/icons/address.png" alt="img.png">
            <span class="desc">Edit address for orders and gifts</span></div>
    </div>
</div>
