<div class="container" *ngIf="!userStatus">
    <div class="button-container">
        <span class="title">Your My Shopping Cart is empty</span>
        <div class="buttons">
            <button class="sign-in" routerLink="/sign-in">Sign in to your account</button>
            <button class="sign-up" routerLink="/sign-up">Sign up now</button>
        </div>
    </div>
</div>

<div class="user-cart-container" *ngIf="userStatus">
    <div class="set-title">
        <div class="addressbar" *ngFor="let data of defaultAddress;">
            <span class="address">Deliver to : {{ data.full_name }} - {{ data.area }} {{data.pin_code }}</span>
        </div>
        <div class="total-amount">
            <span class="total" *ngFor="let amount of cartTotal;">Subtotal : &#8377;{{ amount.total }}</span>
        </div>
        <div class="button-container">
            <button class="proceed" >Proceed to buy</button>
        </div>
    </div>
    <div class="card-container">
        <div class="cart-card" *ngFor="let item of cartItems;">
            <div class="set-one">
                <div class="img-container">
                    <div class="img">
                        <img [src]="item.product_photo_url" alt="">
                    </div>
                </div>
                <div class="details-container">
                    <div class="name-container">
                        <span class="name">{{ item.product_name }}</span>
                    </div>
                    <div class="rate-container">
                        <span class="rate">&#8377;{{ item.mrp }}</span>
                    </div>
                    <div class="stock-details-container">
                        <span class="stock-status in-stock" *ngIf="item.stocks_left > 3">In Stock</span>
                        <span class="stock-status one-left" *ngIf="item.stocks_left < 3 && item.stocks_left === 1">Only
                            {{item.stocks_left}} left</span>
                        <span class="stock-statu out-of-stock" *ngIf="item.stocks_left === 0">Currently out of Stock</span>
                    </div>
                </div>
            </div>
            <div class="set-two">
                <div class="quantity-button-container">
                    <div class="quentity-button">
                        <button class="add">+</button>
                        <span class="quantity-number">1</span>
                        <button class="remove">-</button>
                    </div>
                </div>
                <div class="action-container">
                    <button class="delete" (click)="onRemoveCartItem(item.cart_id)">Remove from Cart</button>
                    <button class="buy-now" (click)="onOrderNow(item.product_id, item.cart_id)">Buy Now</button>
                </div>
            </div>
        </div>
    </div>
</div>
