<div class="container">
    <div class="create-controllers-container">
        <div class="controller-form-container">
            <form class="controllers-form">
                <div class="set">
                    <label class="label">First Name</label>
                    <input type="text" class="input">
                </div>
                <div class="set">
                    <label class="label">Last Name</label>
                    <input type="text" class="input">
                </div> <div class="set">
                    <label class="label">Email</label>
                    <input type="text" class="input">
                </div> <div class="set">
                    <label class="label">Role</label>
                    <select>
                        <option value="">Admin</option>
                        <option value="">Product controller</option>
                        <option value="">Order controller</option>
                        <option value="">Data manager</option>
                    </select>
                </div>
            </form>
        </div>
    </div>
</div>