<div class="container">
    <div class="track-bar">
        <div class="brand-logo">
            <span class="brand-name">My Shopping App</span>
        </div>
        <div class="track-path">
            <div class="progress-bar">
                <div class="bar">
                    <div class="coverage">
                        <div class="icon">&#x2691;</div>
                    </div>
                </div>
            </div>
            <span class="progress-title">
                <span class="title">Sign In</span>
                <span class="title">Delivery & payment</span>
                <span class="title">Place Order</span>
                <span class="title">Complete Payement</span>
            </span>
        </div>
    </div>
    <div class="data-container">
        <router-outlet></router-outlet>
    </div>
</div>