<div class="container">
    <div class="form-container">

        <div class="brand-name">
            <span class="name" routerLink="/home/deals">Shopping App</span>
        </div>

        <form class="sign-in-form" [formGroup]="signInForm">

            <div class="sign-in">Sign In</div>

            <label class="label">enter e-mail</label>
            <input type="email" class="input" placeholder="eg: example@gmail.com" formControlName="email">

            <label class="label">enter password</label>
            <div class="password-input">
                <input #password class="input" placeholder="enter your password" formControlName="password"
                    [type]="inputTypePassword()">
                <button (click)="showPasswordType()" class="btn" *ngIf="showPassword">
                    <img src="assets\icons\password\show.png" alt="">
                </button>
                <button (click)="showPasswordType()" class="btn" *ngIf="!showPassword">
                    <img src="assets\icons\password\hide.png" alt="">
                </button>
            </div>
            <a href="#" class="forgot-password">forgot password</a>

            <button class="submit-button" (click)="onSubmit(signInForm.controls.email.value, signInForm.controls.password.value)">Continue</button>
            <hr>
            <span class="text">New to My Shopping App.?</span>
            <button class="sign-up-button" routerLink="/sign-up">Create Account</button>
        </form>
    </div>
</div>